/* ==========================================================================
   Imports
   ========================================================================== */
@import url(http://fonts.googleapis.com/css?family=Cousine);
@import url(http://fonts.googleapis.com/css?family=Podkova);

/* ==========================================================================
   Standard tags
   ========================================================================== */

body {
    background: #ecf0f1;
}

h3 {
    font-family: 'Cousine', serif;
    font-weight: bold;
}

h3,
a {
    color: #E66067;
}

article {
    margin-bottom: 10px;
    padding: 20px 0 50px 20px;
    border-bottom: 2px dashed #E66067;
}

article:last-of-type {
    border-bottom: none;
}

article .date {
    padding: 5px;
    display: inline-block;
    text-transform: uppercase;
    background: #F7911E;
    color: #fff;
    transform: skew(-9deg) rotate(-1deg);
}





h1 {
    margin-bottom: 50px;
}

/* ==========================================================================
   Header
   ========================================================================== */

header {
    background-image: linear-gradient(to bottom, #2980b9 0, #3498db 100%);
}

header h1,
header h4 {
    margin: 0;
    padding: 0;
}

header h1 a {
    font-size: 5rem;
    font-family: "Podkova", serif;
    font-weight: bold;
    text-decoration: none;
    color: #275181;
    text-shadow: 0 0 10px #fff;
    transition: color 0.5s ease, text-shadow 0.5s ease;
}

header h1 a:hover {
    text-decoration: none;
    color: #285b8c;
    text-shadow: 0 0 20px #fff;
}

header h4 {
    margin: 0;
    padding: 0;
    text-indent: 10rem;
    font-family: "Podkova", serif;
}

header ul a:hover {
    color: #285b8c;
}

/* ==========================================================================
   Aside
   ========================================================================== */

aside ul {
    list-style: none;
    margin: 0;
}

aside img {
    padding: 15px 0;
}

aside h2 {
    padding: 0 40px;
}

aside.fixed {
    background: #ddd;
    width: 250px;
    position: fixed;
    top: 45px;
    left: 0;
    bottom: 0;
}

aside.fixed ul {
    padding: 0;
    margin-top: 40px;
}

aside.fixed a {
    display: block;
    color: #275181;
    text-decoration: none;
    padding: 15px;
    margin-bottom: 1px;
}

aside.fixed a:hover {
    background: #275181;
    color: #fff;
}

aside.fixed a.active {
    background: #275181;
    color: #fff;
}

/* ==========================================================================
   Footer
   ========================================================================== */



/* ==========================================================================
   Helpers
   ========================================================================== */

.title {
    padding: 40px 0;
}

.img-thumbnail {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    margin: 0 20px 20px 0;
    float: left;
}

.txt-thumbnail {
    display: inline-block;
    vertical-align: top;
    max-width: 512px;
    font-size: 2rem;
}

.keyword,
.url-site,
.count-comment {
    margin: 30px 0;
}

.navbar {
    z-index: 3;
}

.bs-component {
    z-index: 4;
}



/*#loader {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(255 ,255, 255, 0.75);
    z-index: 10;
    display: none;
}

#loader #gif {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: url(/logos/loader.gif) center no-repeat ;
    z-index: 9;
}*/
.loader {
    display: none;
}

#flash-js,
#flash-php {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 45px;
    background: #3c9a5f;
    z-index: 10;
    line-height: 40px;
    text-align: center;
    color: #fff;
    display: none;
    cursor: pointer;
}

.modal-backdrop {
    z-index: 0;
}

